.App {
  text-align: center;
}

.KeySigImage {
  height: 200px;
  width: 210px;
  background: url('./AB_KeySignatureID.jpg') no-repeat;
  box-shadow: inset 0 0 2px 10px white;
  /* pointer-events: none; */
}

.KeySigImageContainer {
  overflow: hidden;
  height: 140px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .treble-q-maj,
.treble-q-min {
  background-position: -723px -1731px;
}

.bass-q-maj,
.bass-q-min {
  background-position: -723px -1920px;
} */

.treble-bf-maj,
.treble-g-min {
  background-position: -172px -1726px;
}

.bass-bf-maj,
.bass-g-min {
  background-position: -171px -1919px;
}

.treble-fs-maj,
.treble-ds-min {
  background-position: -169px -1388px;
}

.bass-fs-maj,
.bass-ds-min {
  background-position: -168px -1580px;
}

.treble-cs-maj,
.treble-as-min {
  background-position: -170px -1041px;
}

.bass-cs-maj,
.bass-as-min {
  background-position: -168px -1234px;
}

.treble-df-maj,
.treble-bf-min {
  background-position: -172px -708px;
}

.bass-df-maj,
.bass-bf-min {
  background-position: -171px -901px;
}

.treble-g-maj,
.treble-e-min {
  background-position: -169px -370px;
}

.bass-g-maj,
.bass-e-min {
  background-position: -169px -561px;
}

/* center of page */

.treble-f-maj,
.treble-d-min {
  background-position: -721px -1728px;
}

.bass-f-maj,
.bass-d-min {
  background-position: -719px -1920px;
}

.treble-c-maj,
.treble-a-min {
  background-position: -721px -1387px;
}

.bass-c-maj,
.bass-a-min {
  background-position: -719px -1580px;
}

.treble-af-maj,
.treble-f-min {
  background-position: -718px -1040px;
}

.bass-af-maj,
.bass-f-min {
  background-position: -717px -1234px;
}

.treble-gf-maj,
.treble-ef-min {
  background-position: -720px -710px;
}

.bass-gf-maj,
.bass-ef-min {
  background-position: -719px -901px;
}

.treble-e-maj,
.treble-cs-min {
  background-position: -721px -369px;
}

.bass-e-maj,
.bass-cs-min {
  background-position: -719px -561px;
}

/* right side of page */


.treble-d-maj,
.treble-b-min {
  background-position: -1268px -1727px;
}

.bass-d-maj,
.bass-b-min {
  background-position: -1267px -1920px;
}

.treble-b-maj,
.treble-gs-min {
  background-position: -1271px -1386px;
}

.bass-b-maj,
.bass-gs-min {
  background-position: -1270px -1580px;
}

.treble-cf-maj,
.treble-af-min {
  background-position: -1261px -1045px;
}

.bass-cf-maj,
.bass-af-min {
  background-position: -1259px -1239px;
}

.treble-ef-maj,
.treble-c-min {
  background-position: -1269px -709px;
}

.bass-ef-maj,
.bass-c-min {
  background-position: -1267px -901px;
}

.treble-a-maj,
.treble-fs-min {
  background-position: -1270px -367px;
}

.bass-a-maj,
.bass-fs-min {
  background-position: -1270px -561px;
}


.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Result {
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  min-height: 0;
}

.LevelStar {
  display: flex;
  align-items: center;
}

.LevelStars {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
}

.pulse {
  animation: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.wow {
  animation: wow;
  animation-timing-function: linear;
  animation-duration: 0.55s;
}


.pulse.wow {
  animation: pulse 2s 1s infinite, wow linear 0.55s;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wow {
  0% {
    transform: rotate(0turn) scale(1);
    transform-origin: center;
  }
  50% {
    transform: rotate(.5turn) scale(10);
    transform-origin: center;
  }
  100% {
    transform: rotate(1turn) scale(1);
    transform-origin: center;
  }
}

.KeyAugment {
  font-size: 0.75em;
  pointer-events: none;
}

.Answers > button {
  font-size: 1.5rem;
  padding: 1rem;
}

.Splash {
  /* codes */
  position: fixed;
  display: flex;
  background: rgba(0,0,0,0.5);
  vertical-align: middle;
  transition: 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
}

.Splash_image {
  /* position: absolute; */
  /* height: 100%; */
  align-self: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
